{% extends 'admin/layout.html.twig' %}

{% block content %}

    <!--main-container-part-->
    <div id="content">
        <!--breadcrumbs-->
        <div id="content-header">
            <div id="breadcrumb"><a href="/admin" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>
                    Home</a></div>
        </div>
        <!--End-breadcrumbs-->

        <!--Action boxes-->
        <div class="container-fluid">

            <!--Chart-box-->
            <div class="row-fluid">
                <div class="widget-box">
                    <div class="widget-title bg_lg"><span class="icon"><i class="icon-signal"></i></span>
                        <h5>Summary</h5>
                    </div>
                    <div class="widget-content">
                        <div class="row-fluid">
                            <div class="span12">
                                <ul class="site-stats">
                                    <li class="bg_lb"><i class="icon-user"></i> <strong>{{ users }}</strong>
                                        <small>Total Users</small>
                                    </li>
                                    <li class="bg_ls"><i class="icon-plus"></i> <strong>{{ products }}</strong>
                                        <small>Total Products</small>
                                    </li>
                                    <li class="bg_lo"><i class="icon-shopping-cart"></i>
                                        <strong>{{ allOrders }}</strong>
                                        <small>Total Orders</small>
                                    </li>

                                    <ul class="site-stats">
                                        <li class="bg_lg"><i class="icon-stop"></i> <strong>{{ draftOrders }}</strong>
                                            <small>Draft Orders</small>
                                        </li>
                                        <li class="bg_lr"><i class="icon-warning-sign"></i>
                                            <strong>{{ pendingOrders }}</strong>
                                            <small>Pending Orders</small>
                                        </li>
                                        <li class="bg_lg"><i class="icon-ok"></i> <strong>{{ confirmedOrders }}</strong>
                                            <small>Confirmed Orders</small>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End-Chart-box-->
            <hr/>

        </div>
    </div>

    <!--end-main-container-part-->



{% endblock %}